@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poetsen+One&display=swap');

:root {
  --color-rgb: 26, 26, 26;
  --background-end-rgb: 255, 255, 255;
  --bg-btn-purple: 84, 56, 255;
  --bg-btn-blue: 0, 181, 234;
  --color-purple: 84, 56, 255;
  --color-blue: 0, 181, 234;
}

body {
  color: rgb(var(--color-rgb));
  background: rgb(--background-end-rgb);
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-custom-purple {
  background-color: rgb(var(--bg-btn-purple));
}

.bg-custom-blue {
  background-color: rgb(var(--bg-btn-blue));
}

.color-purple {
  color: rgb(var(--bg-btn-purple));
}

.color-blue {
  color: rgb(var(--bg-btn-blue));
}